.hero{
    background-image: url(imagenes/wp0001.jpg);
}
.bc1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 80vw;
    height: 60vh;
}
.bc2{
    width: 45vw;
    color: #2E5C43;
    text-align: left;
}
.bc2 h1{
    font-size: 3rem;
}
.bc2 p{
    color: #000;
}
.bc5{
    width: 25vw;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}